<!DOCTYPE html>
<html>
  <head>
    <title>FlaskDrive</title>
  </head>
  
  <body>

    <div class="content">

        <h3>FlaskDrive: S3 Flask with AI image classification</h3>
    
        <p>Welcome</p>
        <p>The classification result can be retreived in S3 Bucket, with the file name image.json</p>
    
        <div>
          <h3>Upload your file here:</h3>
          <form method="POST" action="/upload" enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
          </form>
        </div>

        <div>
          <h3>These are your uploaded files history:</h3>
          <ul>
            {% for item in contents %}
              <li>
                <a href="/download/{{ item.Key }}"> {{ item.Key }} </a>
              </li>
            {% endfor %}
          </ul>
    
        </div>

    </div>
  </body>
</html>